// Custom Bootstrap variable overrides go first

$primary: #4d55f8;
$secondary: #fd3420;
$info: #f5810c;
$dark: #17204a;
// $light: #fef1c2;
$white: #ffffff;
$success: #05b268;
$warning: #e5cf04;
$danger: #f71f01;

$enable-rounded: false;

// $font-size-base: 0.8rem;
// $line-height-base: 1;

$hr-border-color: $dark;
// $hr-border-width:             var(--#{$prefix}border-width) !default;

@font-face {
  font-family: "NHaasGroteskTXPro";
  src: local("NHaasGroteskTXPro"),
   url(~assets/fonts/NHaasGroteskTXPro-55Rg.ttf) format("truetype");
}

@font-face {
  font-weight: bold;
  font-family: "NHaasGroteskTXPro-Bold";
  src: local("NHaasGroteskTXPro-Bold"),
   url(~assets/fonts/NHaasGroteskTXPro-75Bd.ttf) format("truetype");
}

// $font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-sans-serif: "NHaasGroteskTXPro" !default;

// Then include the following
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';

// And define any of your custom or additional CSS/SCSS here,
// or via an @import
